In [1]:
# Importing necessary libraries
import seaborn as sns  # For accessing the Titanic dataset
import pandas as pd  # For data manipulation and analysis

# Loading the Titanic dataset from seaborn
titanic = sns.load_dataset('titanic')

# Using the assign method to create multiple columns in one line
titanic = titanic.assign(
    # Calculating age group
    age_group=lambda df: pd.cut(df['age'], bins=[0, 18, 35, 50, 80], labels=["Child", "Youth", "Adult", "Senior"]),
    # Calculating survival rate for each class
    survival_rate=lambda df: df.groupby('class')['survived'].transform('mean'),
    # Indicating whether passengers paid above average fare
    high_fare=lambda df: df['fare'] > df['fare'].mean()
)

# Displaying the first few rows of the modified DataFrame
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone age_group  survival_rate  \
0    man        True  NaN  Southampton    no  False     Youth       0.242363
1  woman       False    C    Cherbourg   yes  False     Adult       0.629630
2  woman       False  NaN  Southampton   yes   True     Youth       0.242363
3  woman       False    C  Southampton   yes  False     Youth       0.629630
4    man        True  NaN  Southampton    no   True     Youth       0.242363

   high_fare
0      False
1       True
2      False
3       True
4      False